* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

body {
	background-color: rgb(222, 222, 222);
}

nav {
	width: 100%;
	height: 60px;
	background: rgb(51, 51, 51);
	position: relative;
	overflow: hidden;
}

nav h1 {
	width: 20%;
	height: 60px;
	position: absolute;
	left: 0;
	top: 0;
	line-height: 60px;
}

nav ul {
	width: 30%;
	height: 60px;
	position: absolute;
	right: 0;
	top: 0;
	line-height: 60px;
}

nav li {
	float: left;
	margin-left: 30px;
}

nav ul li a {
	color: white;
}

header {
	background: rgb(255, 255, 255);
	width: 95%;
	margin: 0 auto;
	box-shadow: 0px 0px 5px black;
}

header main {
	width: 90%;
	margin: 30px;
	padding: 20px 0;
}

h3 {
	color: rgb(101, 111, 100);
	font-weight: 500;
}

span {
	color: rgb(120, 107, 88);
	font-weight: 500;
	margin: 10px 0;
}

span {
	font-size: 15px;
}

img {
	display: block;
	width: 30%;
	margin: 10px -30px;
	padding-left: 20px;
}


/*.img{
	width: 30%;
	margin: 10px -30px;
	padding-left: 50px;
}*/

p {
	text-indent: 50px;
}

.ul li {
	list-style: none;
}

div {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	padding: 10px;
	margin: 20px 70px;
}

div p {
	line-height: 40px;
	text-align: center;
}

div img {
	width: 80%;
	margin: 0 auto;
}

ol {
	margin-left: 50px;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;
	border: none;
}

tr:nth-child(1) {
	background: black;
}

th {
	color: white;
}

tr:last-child {
	border: solid rgb(204, 204, 204) 1px;
	background: rgb(204, 204, 204);
}

h4 span {
	color: rgb(204, 204, 204);
	font-weight: 500;
	font-size: 40px;
	margin: 0 10px;
}

form {
	text-align: center;
}

form p {
	margin-bottom: 20px;
	margin-top: 10px;
	color: rgb(219, 224, 228);
}

form div {
	width: 20%;
	margin: 0 auto;
	text-align: left;
	border: none;
}

form input {
	margin: 20px 10px;
}

input[value] {
	height: 50px;
	width: 100%;
	background: blue;
	color: white;
	border-radius: 10px;
	cursor: pointer;
}

footer {
	width: 100%;
	height: 50px;
	background: black;
}

footer p {
	text-align: center;
	color: white;
	font-weight: bold;
	line-height: 50px;
}