body{
	background: #EEEEEE;
}
.all{
width: 100%;
height: auto;
margin: 0 auto;
background-color: #eee;
position: relative;
min-width: 558px;
}
.left{
	width: 200px;
	height: 100px;
	position: absolute;
	left: 20px;
	top: 20px;
	border: 1px solid #000;
	background: white;
}
.left img{
	width: 80px;
	height: 80px;
	position: absolute;
	top: 10px;
	left: 10px;
}
.left h2{
	position: absolute;
	right: 0;
}
.right{
	width: 120px;
	position: absolute;
	right: 20px;
	top: 20px;
	border: 1px solid #000000;	background: white;

}
.right img{
	width: 80px;
	height: 80px;
	padding-top: 10px;
	padding-left: 20px;
}
.center{
	position: absolute;
	text-align: center;
	margin: 10px 160px 10px 240px;
	border: 1px solid #000;	background: white;

}
